body{
    margin:0;
    font-family:"Candara","Bahnschrift", sans-serif;
    font-size:1em;
    
    background-image:url("../images/background_scales.jpg");
    background-size:10em;
    
    --ccc1:#CCCCCC;
    --ccc2:#EEEEEE;
}
header{
    padding: 10px;
    background-color:var(--ccc1);
}
header a{
    text-decoration:none;
    color:black;
}
header h1, header span{
    margin:0;
}
header span{
    font-size:1.2em;
    color:#FF6600;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
}
#nav{
    list-style-type:none;
    margin:0 0 30px 0;
    padding:0;
    overflow:hidden;
    
    background-color:var(--ccc1);
    box-shadow: 0 0 10px  grey;
}
#nav li a{
    padding:10px 20px;
    display:block;
    float:left;
    
    background-color:var(--ccc1);
    
    text-decoration: none;
    text-align:center;
    color:black;
    
}
#nav li a:hover{
    background-color:var(--ccc2);
}
footer{
    padding:20px;
    height:100px;
    text-align:center;
    margin:30px 0 0 0;
    
    background-color:var(--ccc1);
    box-shadow: 0 0 10px  grey;
}
div.webPanel{
    padding:10px;
    margin:10px 5%;
    
    background-color:var(--ccc1);
    box-shadow: 0 0 10px grey;
}